@model Package


<div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Добавление посылки</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" asp-controller="Home" class="form-horizontal" method="POST" id="addingForm">
                    <div class="form-group">
                        <label for="PackageName" class="col-form-label">Название посылки:</label>
                        <input type="text" name="PackageName" id="PackageName" class="form-control" asp-for="@Model.PackageName" />
                    </div>
                    <div class="form-group">
                        <label for="ProductArt" class="col-form-label">Артикул товара:</label>
                        <input type="text" name="ProductArt" asp-for="@Model.ProductArt" id="ProductArt" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="ProductLink" class="col-form-label">Ссылка на товар:</label>
                        <input type="text" name="ProductLink" asp-for="@Model.ProductLink" id="ProductLink" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="ProductCount" class="col-form-label">Кол-во товара:</label>
                        <input type="text" name="ProductCount" asp-for="@Model.ProductCount" id="ProductCount" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="ProductCount" class="col-form-label">Тип доставки:</label>
                        <select name="TypeDelivery" asp-for="@Model.TypeDelivery" id="TypeDelivery" class="form-control">
                            <option value="Авиа">Авиадоставка</option>
                            <option value="Наземная">Наземная доставка</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ProductPrice" class="col-form-label">Цена товара:</label>
                        <input type="text" name="ProductPrice" asp-for="@Model.ProductPrice" id="ProductPrice" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="ProductPrice" class="col-form-label">Трек-номер:</label>
                        <input type="text" name="TrackNumber" asp-for="@Model.TrackNumber" id="TrackNumber" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="submit" form="addingForm" class="btn btn-primary" data-save="modal">Подтвердить добавление</button>
            </div>
        </div>
    </div>
</div>